h1{
    color: blueviolet;
}
body{
    background-color: aqua;
}
p{
    color: blueviolet;
}
image{
    height: 30vh;
    margin: 100px;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    min-width: 50;
    font-display: 3.5rem;
    float: left;

}